body,
html {
  height: 100%;
}
body {
  background-color: #404040;
}
li {
  list-style: none;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}

.sajdat-box {
  padding: 20px;
  border: 2px solid red;
}
